.main, .main-trans-wrapper{
  height: 100%;
}

.main .content{
  text-align: center;
  font-size: 30px;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transi-enter {
  opacity: 0.01;
  transform: scale(0.9);
}
.transi-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-out;
}
.transi-exit {
  opacity: 1;
  transform: scale(1);
}
.transi-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: all 500ms ease-out;
}

.main .topbar .left .arrow{
  margin-right: 5px;
}

.main .topbar .left *{
  vertical-align: middle;
}

.main .topbar .left{
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.main .topbar .right .arrow{
  margin-left: 5px;
}

.main .topbar .right *{
  vertical-align: middle;
}

.main .topbar .right{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}

.font-nunito{
  font-family: 'Nunito', sans-serif;
}

.font-inconsolata{
  font-family: 'Inconsolata', monospace;
}

.font-quicksand{
  font-family: 'Quicksand', sans-serif;
}
